In [1]:
from __future__ import division
import pandas as pd
import csv
import numpy as np
import os

In [2]:
gt = pd.read_csv(os.getcwd() + "/GTResults.csv")
at = pd.read_csv(os.getcwd() + "/SegResults.csv")

In [3]:
gt['combined'] = gt.apply(lambda x: [x.start_GT, x.end_GT], axis=1)
at['combined'] = at.apply(lambda x: [[x.start, x.end]], axis=1)
at['combined'] = at.apply(lambda x: [x.start, x.end], axis=1)

In [4]:
seg_result = list(at['combined'])
seg_result = np.array(seg_result)

In [5]:
A = 0
B = 0
C = 0
gt_copy = gt.loc[gt.Speaker != "0"].reset_index(drop = 1)
missed_id = []
seg_copy = seg_result.copy()
for idx, ground_truth in gt_copy.iterrows():
    found = np.where((seg_copy[:,0] >= ground_truth.start_GT - 1) & (seg_copy[:, 1] <= ground_truth.end_GT + 1))[0]
    if found.shape[0] == 0:
        B += 1
        missed_id.append(idx)
    else:
        A += 1
        seg_copy[found] = np.array([-1, -1])
C = sum(seg_copy[:, 0] != -1)

In [6]:
FDR = C/(A+B+C)
MDR = B/(A+B)
PRC = A/(A+C)
RCC = A/(A+B)
F = 2 * PRC * RCC /(PRC+RCC)

In [7]:
gt_copy.loc[missed_id]

     start_GT  end_GT Speaker      combined
8          74      77       4      [74, 77]
9          77      80      -1      [77, 80]
10         80      84       5      [80, 84]
11         84      86       6      [84, 86]
12         86      89       7      [86, 89]
13         89      91       8      [89, 91]
18        154     156      10    [154, 156]
19        156     157      -1    [156, 157]
20        157     159      10    [157, 159]
22        183     188      10    [183, 188]
23        188     192      11    [188, 192]
28        225     227      14    [225, 227]
29        227     230      -2    [227, 230]
30        230     233      14    [230, 233]
31        233     238      -2    [233, 238]
35        260     263      16    [260, 263]
36        263     267      17    [263, 267]
47        342     346      21    [342, 346]
48        346     355      -3    [346, 355]
53        369     372      -3    [369, 372]
54        372     373      22    [372, 373]
61        402     409      -1    [402, 409]
62        409     410      24    [409, 410]
64        433     436      24    [433, 436]
65        436     442      -1    [436, 442]
67        471     474      -3    [471, 474]
68        474     476       9    [474, 476]
69        509     511      -3    [509, 511]
77        593     598      -4    [593, 598]
78        598     601      21    [598, 601]
..        ...     ...     ...           ...
216      1509    1510      72  [1509, 1510]
217      1510    1515      -1  [1510, 1515]
218      1515    1517      72  [1515, 1517]
219      1517    1520      -1  [1517, 1520]
221      1524    1526     -10  [1524, 1526]
222      1526    1527      73  [1526, 1527]
223      1527    1530     -10  [1527, 1530]
224      1530    1532      73  [1530, 1532]
225      1542    1543       ?  [1542, 1543]
229      1584    1591      -1  [1584, 1591]
230      1591    1593      74  [1591, 1593]
231      1597    1599      75  [1597, 1599]
232      1599    1601      -1  [1599, 1601]
239      1639    1643      77  [1639, 1643]
240      1643    1647     -13  [1643, 1647]
241      1647    1650      77  [1647, 1650]
242      1650    1654     -13  [1650, 1654]
243      1654    1657      78  [1654, 1657]
244      1657    1664     -13  [1657, 1664]
245      1664    1667      78  [1664, 1667]
246      1667    1670     -14  [1667, 1670]
247      1670    1673      79  [1670, 1673]
262      1811    1813      83  [1811, 1813]
263      1813    1817     -15  [1813, 1817]
264      1817    1819      84  [1817, 1819]
265      1819    1825     -15  [1819, 1825]
266      1828    1832     -15  [1828, 1832]
267      1832    1835      85  [1832, 1835]
268      1835    1840     -15  [1835, 1840]
270      1843    1846     -15  [1843, 1846]

[123 rows x 4 columns]